minimum-release-age=1440
minimum-release-age-exclude[]=effect
minimum-release-age-exclude[]=@effect/platform-node
minimum-release-age-exclude[]=@effect/platform-node-shared
minimum-release-age-exclude[]=@effect/vitest
